<div class="container mt-4"> 

    <h1>
    Lista de Usuarios:
    </h1>
    <hr>
    {{#each usuarios}} <!--Referenciar o nome da tabela do banco de dados-->
        <div class="card mt-4">
            <div class="card-body">
                <h2>{{dataValues.login}}</h2>
                <h4>{{dataValues.password}}</h4>
                

                <a href="http://localhost:8081/admin/deletar/{{dataValues.id}}">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Deletar usuario</button>
                </a>
                <a href="http://localhost:8081/admin/searched/{{dataValues.id}}">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Verificar usuario</button>
                </a>

            </div>
        </div>
        <hr>    
    {{/each}}
    
    <br><br>
    <a href="http://localhost:8081/admin/addUser">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Cadastrar Usuarios</button>
    </a>    

    <a href="http://localhost:8081/admin/index">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">voltar para pagina inicial</button>
    </a>
</div>

