<div style="background-color:#ffffff;
            position:absolute;
            height:100%;
            width:100%;">

        <div style="max-width:70vh;
            position: absolute;
            left: 50%;                     
            top: 50%;
            transform: translate(-50%,-50%);
            width:70%;
            background-color:#000000;
            padding:100px;
            border-radius:50px;">
            

                <div class="mb-3" >
                    <label for="formGroupExampleInput" class="form-label" style="color:white;">Usuário</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"  style="background-color:#ffffff;  text-color:white;">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label" style="color:white;">Senha</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2"  style="background-color:#ffffff;">
                </div>

                
                <a href="http://localhost:8081/receptionist/index">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; width:100%; margin-bottom:10px;">Recepcionista</button>
                </a>

                <a href="http://localhost:8081/admin/index">
                    <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; width:100%;">Administrador</button>
                </a>
        </div>

</div>


