* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Hotel';
}
label{
  text-align: left;
}
body{
    background-color: #fff;
    /*background: url("/Front/Imgs/background.jpg");*/
}
/*@font-face {
  font-family: 'Hotel' ;
  src: url(/Front/Imgs/OFL.txt) format('opentype'), url(/Front/Imgs/ShadowsIntoLight-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
.containergrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
}


/*-----Header-----*/
.header {
  width: 100%;
  height: 100px;
  background-color: #161A1D;
}
.logo {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  align-items: center;
}
.logo img {
  height: 90px;
  border-radius: 100px;
}
.header_nav{
  display: grid;
  grid-column-start: 7;
  grid-column-end: 15;
  height: 100px;
  text-align: right;
  align-items: center;
}
.header_nav ul li{
  display: inline-block;
  font-size: 25px;
  padding-left: 15px;
}
.header_nav ul li a{
  color: #fff;
}

/*Begin*/



/*Cadastrar Cliente*/
.sec1{
  height: 100px;
  margin-top: 100px;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 16;
  background-color: #161A1D;
  border-radius: 15px;  
}
.title{
  background-color: #ccc;
  margin-top: 35px;
  padding: 10px;
  display: 	grid;
  font-size: 40px;
  text-align: center;
  color: #fff;
}

input{
  display: grid;  
  grid-column-start: 2 ;
  grid-column-end: 16;
  height: 40px;
  width: 95%;
  background-color: #F5F3F4;
  color: #000;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  outline: 0;
  font-size: 15px;
}
/*Botão*/
.confirmbutton{

}
.button{
  width: 150px;
  text-align: center;
  background-color: #1d3140;
  color: #fff;
  border-radius: 5px;  
  border: 2px solid #ccc;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
  padding: 8px;
  font-weight: 600;
}

.listafunc{
  max-width: 2000px;
  height: auto;
  display: grid;  
  grid-column-start: 3;
  grid-column-end: 15;
  padding: 20px;
  background: #ccc;
}

/*Reaizar Reserva*/


/*-----Footer-----*/
.footer {  
  width: 100%;
  height: 90px;
  margin-top: 100px;
  background-color: #161A1D;  
}
.footer_info {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 14;  
  height: 90px;;
  align-items: center;
}
.footer_info p{
  color: #fff;
}
.logo_footer {
  display: grid;
  grid-column-start: 14;
  grid-column-end: 15;
  align-items: center;
}
.logo_footer img {
  height: 60px;
  border-radius: 50px;
}