<div class="container mt-4"  style="text-align: center;">

    <h1 style="margin-top:50px;">
        Recepcionista
    </h1>
    

    
<div style="margin-top:100px; margin-bottom:100px;">
        <hr>

    <a href="http://localhost:8081/receptionist/addClient">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; width: 50%; margin-bottom:10px;">Cadastrar cliente</button>
    </a>

    <a href='http://localhost:8081/receptionist/clients'>
            <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-bottom:20px; width: 50%;"> Listar clientes</button>
    </a>
    <hr>
    <a href="http://localhost:8081/receptionist/reserva">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; width: 50%; margin-bottom:20px;"> Realizar Reserva </button>
    </a>    
        <hr>
    <a href="http://localhost:8081/">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; width: 50%; margin-bottom:20px;"> Sair da conta </button>
    </a>
</div>
</div>

