<div class="container mt-4">

    <h1>
        Pagina inicial Admin
    </h1>
    
    <hr>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <a href="http://localhost:8081/admin/addClient">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;">Cadastrar cliente</button>
    </a>

    <a href='http://localhost:8081/admin/clients'>
            <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Buscar Clientes</button>
    </a>

    <a href="http://localhost:8081/">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Logout </button>
    </a>

    <a href="http://localhost:8081/admin/reserva">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Realizar Reserva </button>
    </a>

    <a href="http://localhost:8081/admin/addUser">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Cadastrar usuario </button>
    </a>

    <a href="http://localhost:8081/admin/users">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Lista de usuários </button>
    </a>

</div>
