<div class="container mt-4">
    <h1>Cliente cadastrado com sucesso</h1>

    <a href="http://localhost:8081/admin/index">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">voltar para pagina inicial</button>
    </a>
</div>