<div class="container mt-4"> 

    <h1>
    Lista de Quartos:
    </h1>
    <hr>


    {{#each quartos}} <!--Referenciar o nome da tabela do banco de dados-->
        <div class="card mt-4">
            <div class="card-body">
                <h2>Quarto {{dataValues.number}}</h2>
                
            </div>
        </div>
        
        

        <hr>    

    {{/each}}

    <br><br>
    <a href="http://localhost:8081/admin/addClient">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">Cadastrar cliente</button>
    </a>    

    <a href="http://localhost:8081/admin/index">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">voltar para pagina inicial</button>
    </a>

   

</div>