
<div style="background-color:#0B090A">

    

    <div style="max-width:70vh;
            position: absolute;
            left: 50%;                     
            top: 50%;
            transform: translate(-50%,-50%);
            width:70%;
            background-color:#A4161A;
            padding:100px;
            border-radius:50px;">

        <h1>Pagina de busca</h1>    
            
        <form class="row g-3" method="post" action="http://localhost:8081/admin/searched/{{dataValues.cpf}}">
        <div class="col-12">
            <label for="inputEmail4" class="form-label">Name</label>
            <input name="name" type="name" class="form-control" id="inputName4" >
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">CPF</label>
            <input name="cpf" type="text" class="form-control" id="inputAddress" >
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" style="background-color:#0B090A ; border-color:#0B090A;">Sign in</button>
        </div>
        </form>    
               
    </div>

        
            
</div>

<a href="http://localhost:8081/admin/index">
            <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A;">voltar para pagina inicial</button>
        </a>    