<div class="container mt-4">

    <h1>
        Pagina inicial Recepcionista
    </h1>
    
    <hr>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <a href="http://localhost:8081/receptionist/addClient">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;">Cadastrar cliente</button>
    </a>

    <a href='http://localhost:8081/receptionist/clients'>
            <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Buscar reservas</button>
    </a>

    <a href="http://localhost:8081/">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Logout </button>
    </a>

    <a href="http://localhost:8081/receptionist/reserva">
        <button class="btn btn-success" style="background-color:#0B090A ; border-color:#0B090A; margin-right:50px;"> Realizar Reserva </button>
    </a>

</div>

